.carousel-item img {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.card-img-top {
    width: 100%;
    height: 22vw;
    object-fit: contain;
}

@media (max-width: 768px) {
    .carousel-item img {
        height: 30vw;
    }
}

@media (max-width: 768px) {
    .card-img-top {
        height: 45vw;
    }
}
