<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/favicon.ico}" rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico"/>
    <link th:href="@{/css/detail.css}" href="../static/css/detail.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet">
    <script defer th:src="@{/js/detail.js}" src="../static/js/detail.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>GameRentalMarket</title>
</head>

<body>
<!-- 네비게이션 바 -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/main}" href="./main.html">
            <img th:src="@{/img/logo_nav.png}" src="../static/img/logo_nav.png" width="92" height="38" alt="로고이미지">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link change-category" th:href="@{/main?categoryId=1}" href="./main.html">PS5/PS4</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link change-category" th:href="@{/main?categoryId=2}" href="./main.html">XSX</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link change-category" th:href="@{/main?categoryId=3}" href="./main.html">Switch</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link change-category" th:href="@{/main?categoryId=4}" href="./main.html">Others</a>
                </li>
            </ul>
            <div class="d-flex">
                <!-- 로그아웃 상태 -->
                <div th:if="${session[T(com.zeunala.gamerental.util.SessionName).LOGIN_USERS_ID]} == null">
                    <a class="btn btn-secondary" th:href="@{/login}" href="./login.html">로그인</a>
                </div>

                <!-- 로그인 상태 -->
                <div class="btn-group" th:if="${session[T(com.zeunala.gamerental.util.SessionName).LOGIN_USERS_ID]}">
                    <div class="dropdown mx-lg-3 mx-2">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            나의 거래정보
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/mypage/sell}" href="./mypage_sell.html">판매목록 확인</a></li>
                            <li><a class="dropdown-item" th:href="@{/mypage/buy}" href="./mypage_buy.html">구매목록 확인</a></li>
                        </ul>
                    </div>
                    <div>
                        <a class="btn btn-secondary" th:href="@{/logout}" href="./logout.html">로그아웃</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- 상품 사진 및 간략 설명 -->
<div class="container p-5">
    <div class="row">
        <div class="col">
            <img th:src="${imgUrl}" src="../static/img/product/ps5_a.png" class="d-block"
                 alt="상품이미지" id="productImage">
        </div>
        <div class="col">
            <h1 class="mb-3 fw-bolder" th:text="${title}">상품명</h1>
            <hr/>
            <div class="row text-info my-3">
                <h4 class="col-6 text-start fw-bolder">렌탈 최저가</h4>
                <h4 class="col-6 text-end">
                    <span th:if="${minRentalPrice}"
                          th:text="${#numbers.formatInteger(minRentalPrice, 1, 'COMMA')} + '원~'">0,000원~</span>
                    <span th:if="${minRentalPrice} == null" th:text="'재고 없음'"></span>
                </h4>
            </div>
            <div class="row text-primary my-3">
                <h4 class="col-6 text-start fw-bolder">중고 최저가</h4>
                <h4 class="col-6 text-end">
                    <span th:if="${minUsedPrice}"
                          th:text="${#numbers.formatInteger(minUsedPrice, 1, 'COMMA')} + '원~'">00,000원~</span>
                    <span th:if="${minUsedPrice} == null" th:text="'재고 없음'"></span>
                </h4>
            </div>
            <hr/>
            <div class="row my-3">
                <div class="btn-group" role="group" aria-label="렌탈 및 중고 여부 선택">
                    <input type="radio" class="btn-check" name="btnradio" id="selectRental" autocomplete="off">
                    <label class="btn btn-outline-info" for="selectRental">렌탈하기</label>
                    <input type="radio" class="btn-check" name="btnradio" id="selectUsed" autocomplete="off">
                    <label class="btn btn-outline-primary" for="selectUsed">중고구매</label>
                </div>
            </div>
            <div class="text-end">
                <a class="text-primary" th:href="@{/register/sell/{id}(id=${productId})}" href="./register_sell.html">
                    판매를 원하신다면?
                </a>
            </div>
        </div>
    </div>
</div>

<!-- 렌탈 상품 상세 -->
<div class="container p-5 d-none" id="rentalPosts">
    <table class="table table-hover align-middle">
        <thead>
        <tr>
            <th class="col-lg-2 col-3" scope="col">거래방법</th>
            <th class="col-lg-6 col-3" scope="col">설명</th>
            <th class="col-lg-2 col-3" scope="col">가격</th>
            <th class="col-lg-2 col-3" scope="col">등록시간</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="post : ${rentalPosts}">
            <tr class="simple-info">
                <td th:text="${post.directFlag == 1 ? '직거래' : '택배'}">직거래</td>
                <td>
                    <!--/* 직거래인 경우 설명 앞에 "(판매자주소)" 추가 */-->
                    <span th:if="${post.directFlag == 1}" th:text="'(' + ${post.sellerUsersHomeAddress}+')'">
                        (서울특별시 강남구)</span>
                    <!--/* 설명이 15자 이상인 경우 15자까지만 나타내고 뒤에 ... 을 붙임 */-->
                    <span th:if="${#strings.length(post.comment)} > 15"
                          th:text="${#strings.substring(post.comment, 0, 15)} + '...'">싸게 거래합니다~</span>
                    <span th:if="${#strings.length(post.comment)} <= 15"
                          th:text="${post.comment}"></span>
                </td>
                <td>&#8361;<span th:text="${#numbers.formatInteger(post.price, 1, 'COMMA')}">6,900</span>원~</td>

                <!--/* "2023-01-15 15:40" 기준 판매 날짜가 오늘인경우 15:40과 같이 시/분만, 그렇지 않은 경우 01-15과 같이 월/일만 표시 */-->
                <td th:with="createDate= ${#dates.create(#strings.substring(post.createDate, 0, 4),
                        #strings.substring(post.createDate, 5, 7),
                        #strings.substring(post.createDate, 8, 10),
                        #strings.substring(post.createDate, 11, 13),
                        #strings.substring(post.createDate, 14, 16))}">
                    <span th:text="${#dates.format(createDate, 'yyyy-MM-dd')}
                            == ${#dates.format(createDate, 'yyyy-MM-dd')} ?
                            ${#dates.format(createDate, 'HH:mm')}
                            : ${#dates.format(createDate, 'MM-dd')}"> 15:47
                    </span>
                </td>
            </tr>
            <tr class="table-active detail-info d-none">
                <td colspan="4">
                    <div class="d-flex justify-content-center">
                        <table class="table" style="max-width: 800px">
                            <tr>
                                <th class="col-4 text-center table-info">타이틀명</th>
                                <td class="col-8 table-light" th:text="${post.title}">PS5 타이틀</td>
                            </tr>
                            <tr>
                                <th class="col-4 text-center table-info">구매유형</th>
                                <td class="col-8 table-light" th:text="렌탈">렌탈</td>
                            </tr>
                            <tr>
                                <th class="col-4 text-center table-info">거래방법</th>
                                <td class="col-8 table-light" th:text="${post.directFlag == 1 ? '직거래' : '택배'}">직거래</td>
                            </tr>
                            <!--/* 직거래 전용 항목 */-->
                            <tr th:if="${post.directFlag == 1}">
                                <th class="col-4 text-center table-info">장소</th>
                                <td class="col-8 table-light" th:text="${post.sellerUsersHomeAddress}">서울광역시 강남구</td>
                            </tr>
                            <!--/* 렌탈 전용 항목 */-->
                            <tr>
                                <th class="col-4 text-center table-info">3주 대여가격</th>
                                <td class="col-8 table-light">
                                    &#8361;<span
                                        th:text="${#numbers.formatInteger(post.price, 1, 'COMMA')}">6,900</span>원
                                </td>
                            </tr>
                            <!--/* 렌탈 전용 항목 */-->
                            <tr th:if="${post.extensionPrice}">
                                <th class="col-4 text-center table-info">1주 초과시마다</th>
                                <td class="col-8 table-light">
                                    &#8361;<span th:text="${#numbers.formatInteger(post.extensionPrice, 1, 'COMMA')}">2,000</span>원
                                </td>
                            </tr>
                            <!--/* 렌탈 전용 항목 */-->
                            <tr th:if="${post.deposit}">
                                <th class="col-4 text-center table-info">보증금</th>
                                <td class="col-8 table-light">
                                    &#8361;<span th:text="${#numbers.formatInteger(post.deposit, 1, 'COMMA')}">0</span>원
                                </td>
                            </tr>
                            <tr>
                                <th class="col-4 text-center table-info">판매자 닉네임</th>
                                <td class="col-8 table-light" th:text="${post.sellerUsersNickname}">닉네임</td>
                            </tr>
                            <tr>
                                <th class="col-4 text-center table-info">설명</th>
                                <td class="col-8 table-light" th:text="${post.comment}">싸게 거래합니다~</td>
                            </tr>
                            <tr>
                                <th class="col-4 text-center table-info">등록시간</th>
                                <td class="col-8 table-light" th:text="${post.createDate}">2023-01-03 15:47:01</td>
                            </tr>
                        </table>
                    </div>
                    <div class="d-flex justify-content-center row">
                        <button th:onclick="|window.location.href='@{/register/buy/{id}(id=${post.id})}'|"
                                onclick="window.location.href='./register_buy.html'"
                                class="btn btn-lg btn-primary col-sm-6 buy-button" type="button">
                            구매신청
                        </button>
                    </div>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>

<!-- 중고 상품 상세 -->
<div class="container p-5 d-none" id="usedPosts">
    <table class="table table-hover align-middle">
        <thead>
        <tr>
            <th class="col-lg-2 col-3" scope="col">거래방법</th>
            <th class="col-lg-6 col-3" scope="col">설명</th>
            <th class="col-lg-2 col-3" scope="col">가격</th>
            <th class="col-lg-2 col-3" scope="col">등록시간</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="post : ${usedPosts}">
            <tr class="simple-info">
                <td th:text="${post.directFlag == 1 ? '직거래' : '택배'}">직거래</td>
                <td>
                    <!--/* 직거래인 경우 설명 앞에 "(판매자주소)" 추가 */-->
                    <span th:if="${post.directFlag == 1}" th:text="'(' + ${post.sellerUsersHomeAddress}+')'">
                    (인천광역시 계양구)</span>
                    <!--/* 설명이 15자 이상인 경우 15자까지만 나타내고 뒤에 ... 을 붙임 */-->
                    <span th:if="${#strings.length(post.comment)} > 15"
                          th:text="${#strings.substring(post.comment, 0, 15)} + '...'">빠르게 팝니다!</span>
                    <span th:if="${#strings.length(post.comment)} <= 15"
                          th:text="${post.comment}"></span>
                </td>
                <td>&#8361;<span th:text="${#numbers.formatInteger(post.price, 1, 'COMMA')}">29,000</span>원</td>

                <!--/* "2023-01-15 15:40" 기준 판매 날짜가 오늘인경우 15:40과 같이 시/분만, 그렇지 않은 경우 01-15과 같이 월/일만 표시 */-->
                <td th:with="createDate= ${#dates.create(#strings.substring(post.createDate, 0, 4),
                    #strings.substring(post.createDate, 5, 7),
                    #strings.substring(post.createDate, 8, 10),
                    #strings.substring(post.createDate, 11, 13),
                    #strings.substring(post.createDate, 14, 16))}">
                <span th:text="${#dates.format(createDate, 'yyyy-MM-dd')}
                        == ${#dates.format(createDate, 'yyyy-MM-dd')} ?
                        ${#dates.format(createDate, 'HH:mm')}
                        : ${#dates.format(createDate, 'MM-dd')}"> 01-02
                </span>
                </td>
            </tr>
            <tr class="table-active detail-info d-none">
                <td colspan="4">
                    <div class="d-flex justify-content-center">
                        <table class="table" style="max-width: 800px">
                            <tr>
                                <th class="col-4 text-center table-info">타이틀명</th>
                                <td class="col-8 table-light" th:text="${post.title}">PS5 타이틀</td>
                            </tr>
                            <tr>
                                <th class="col-4 text-center table-info">구매유형</th>
                                <td class="col-8 table-light" th:text="중고">중고</td>
                            </tr>
                            <tr>
                                <th class="col-4 text-center table-info">거래방법</th>
                                <td class="col-8 table-light" th:text="${post.directFlag == 1 ? '직거래' : '택배'}">직거래</td>
                            </tr>
                            <!--/* 직거래 전용 항목 */-->
                            <tr th:if="${post.directFlag == 1}">
                                <th class="col-4 text-center table-info">장소</th>
                                <td class="col-8 table-light" th:text="${post.sellerUsersHomeAddress}">인천광역시 계양구</td>
                            </tr>
                            <!--/* 중고 전용 항목 */-->
                            <tr>
                                <th class="col-4 text-center table-info">판매가격</th>
                                <td class="col-8 table-light">
                                    &#8361;<span
                                        th:text="${#numbers.formatInteger(post.price, 1, 'COMMA')}">29,000</span>원
                                </td>
                            </tr>
                            <tr>
                                <th class="col-4 text-center table-info">판매자 닉네임</th>
                                <td class="col-8 table-light" th:text="${post.sellerUsersNickname}">닉네임</td>
                            </tr>
                            <tr>
                                <th class="col-4 text-center table-info">설명</th>
                                <td class="col-8 table-light" th:text="${post.comment}">빠르게 팝니다!</td>
                            </tr>
                            <tr>
                                <th class="col-4 text-center table-info">등록시간</th>
                                <td class="col-8 table-light" th:text="${post.createDate}">2023-01-02 12:49:21</td>
                            </tr>
                        </table>
                    </div>
                    <div class="d-flex justify-content-center row">
                        <button th:onclick="|window.location.href='@{/register/buy/{id}(id=${post.id})}'|"
                                onclick="window.location.href='./register_buy.html'"
                                class="btn btn-lg btn-primary col-sm-6 buy-button" type="button">
                            구매신청
                        </button>
                    </div>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>

</body>

</html>