<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/favicon.ico}" rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico"/>
    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet">
    <script defer th:src="@{/js/mypage_buy.js}" src="../static/js/mypage_buy.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>GameRentalMarket</title>
</head>

<body>
<!-- 네비게이션 바 -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/main}" href="./main.html">
            <img th:src="@{/img/logo_nav.png}" src="../static/img/logo_nav.png" width="92" height="38" alt="로고이미지">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link change-category" th:href="@{/main?categoryId=1}" href="./main.html">PS5/PS4</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link change-category" th:href="@{/main?categoryId=2}" href="./main.html">XSX</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link change-category" th:href="@{/main?categoryId=3}" href="./main.html">Switch</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link change-category" th:href="@{/main?categoryId=4}" href="./main.html">Others</a>
                </li>
            </ul>
            <div class="d-flex">
                <!-- 로그아웃 상태 -->
                <div th:if="${session[T(com.zeunala.gamerental.util.SessionName).LOGIN_USERS_ID]} == null">
                    <a class="btn btn-secondary" th:href="@{/login}" href="./login.html">로그인</a>
                </div>

                <!-- 로그인 상태 -->
                <div class="btn-group" th:if="${session[T(com.zeunala.gamerental.util.SessionName).LOGIN_USERS_ID]}">
                    <div class="dropdown mx-lg-3 mx-2">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            나의 거래정보
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/mypage/sell}" href="./mypage_sell.html">판매목록 확인</a></li>
                            <li><a class="dropdown-item" th:href="@{/mypage/buy}" href="./mypage_buy.html">구매목록 확인</a></li>
                        </ul>
                    </div>
                    <div>
                        <a class="btn btn-secondary" th:href="@{/logout}" href="./logout.html">로그아웃</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- 상단 메뉴 -->
<div class="container p-5" style="max-width: 1080px;">
    <div>
        <h4 class="text-primary">구매 목록</h4>
        <hr/>
    </div>
    <div class="card-group text-center" style="float:none; margin:0 auto">
        <div class="card border-primary mb-3" style="">
            <h5 class="card-header">거래중</h5>
            <div class="card-body">
                <h4 class="card-title"><span th:text="${activeDeal.size()}">2</span>건</h4>
            </div>
        </div>
        <div class="card border-primary mb-3" style="">
            <h5 class="card-header">거래종료</h5>
            <div class="card-body">
                <h4 class="card-title"><span th:text="${closedDeal.size()}">1</span>건</h4>
            </div>
        </div>
    </div>
</div>

<!-- 전체 물품 -->
<div class="container px-5" style="max-width: 1080px;">
    <ul class="nav nav-tabs text-center" role="tablist">
        <li class="nav-item col" role="presentation">
            <a class="nav-link active" data-bs-toggle="tab" href="#inProgress" aria-selected="true" role="tab" tabindex="-1">거래진행중 물품</a>
        </li>
        <li class="nav-item col" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#finished" aria-selected="false" role="tab">거래종료 물품</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane active show" id="inProgress" role="tabpanel">
            <table class="table table-hover align-middle text-center">
                <thead>
                <tr>
                    <th class="col-lg-1 col" scope="col">구매유형</th>
                    <th class="col-lg-1 col" scope="col">거래방법</th>
                    <th class="col-lg-1 col" scope="col">카테고리</th>
                    <th class="col-lg-2 col" scope="col">타이틀명</th>
                    <th class="col-lg-0 col d-none d-lg-table-cell" scope="col">판매자문구</th>
                    <th class="col-lg-2 col" scope="col">거래금액</th>
                    <th class="col-lg-1 col" scope="col">등록시간</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="deal : ${activeDeal}">
                    <tr class="simple-info">
                        <td th:text="${deal.rentalFlag == 1 ? '렌탈' : '중고'}">렌탈</td>
                        <td th:text="${deal.directFlag == 1 ? '직거래' : '택배'}">택배</td>
                        <td th:text="${deal.categoryName}">XSX</td>
                        <td th:text="${deal.title}">XSX 타이틀</td>
                        <td class="d-none d-lg-table-cell">
                            <!--/* 설명이 15자 이상인 경우 15자까지만 나타내고 뒤에 ... 을 붙임 */-->
                            <span th:if="${#strings.length(deal.comment)} > 15"
                                  th:text="${#strings.substring(deal.comment, 0, 15)} + '...'">빠르게 거래합니다~</span>
                            <span th:if="${#strings.length(deal.comment)} <= 15"
                                  th:text="${deal.comment}"></span>
                        </td>
                        <td>&#8361;<span th:text="${#numbers.formatInteger(deal.totalPrice, 1, 'COMMA')}">7,400</span>원</td>
                        <!--/* "2023-01-15 15:40" 기준 판매 날짜가 오늘인경우 15:40과 같이 시/분만, 그렇지 않은 경우 01-15과 같이 월/일만 표시 */-->
                        <td th:with="createDate = ${#dates.create(#strings.substring(deal.dealCreateDate, 0, 4),
                                #strings.substring(deal.dealCreateDate, 5, 7),
                                #strings.substring(deal.dealCreateDate, 8, 10),
                                #strings.substring(deal.dealCreateDate, 11, 13),
                                #strings.substring(deal.dealCreateDate, 14, 16))}">
                            <span th:text="${#dates.format(createDate, 'yyyy-MM-dd')}
                                    == ${#dates.format(createDate, 'yyyy-MM-dd')} ?
                                    ${#dates.format(createDate, 'HH:mm')}
                                    : ${#dates.format(createDate, 'MM-dd')}"> 16:15
                            </span>
                        </td>
                    </tr>
                    <tr class="table-active detail-info d-none">
                        <td colspan="7">
                            <div class="d-flex justify-content-center">
                                <table class="table">
                                    <tr>
                                        <th class="col-4 text-center table-info">타이틀명</th>
                                        <td class="col-8 table-light" th:text="${deal.title}">XSX 타이틀</td>
                                    </tr>
                                    <tr>
                                        <th class="col-4 text-center table-info">구매유형</th>
                                        <td class="col-8 table-light" th:text="${deal.rentalFlag == 1 ? '렌탈' : '중고'}">렌탈</td>
                                    </tr>
                                    <tr>
                                        <th class="col-4 text-center table-info">거래방법</th>
                                        <td class="col-8 table-light" th:text="${deal.directFlag == 1 ? '직거래' : '택배'}">
                                            택배
                                        </td>
                                    </tr>
                                    <!--/* 직거래 전용 항목 */-->
                                    <tr th:if="${deal.directFlag == 1}">
                                        <th class="col-4 text-center table-info">장소</th>
                                        <td class="col-8 table-light" th:text="${deal.sellerUsersHomeAddress}">서울광역시
                                            강남구
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="col-4 text-center table-info">총 거래금액</th>
                                        <td class="col-8 table-light">
                                            &#8361;<span
                                                th:text="${#numbers.formatInteger(deal.totalPrice, 1, 'COMMA')}">7,400</span>원
                                            <span th:if="${deal.deposit}">
                                                (보증금 &#8361;<span th:text="${#numbers.formatInteger(deal.deposit, 1, 'COMMA')}">1,000</span>원 포함)
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="col-4 text-center table-info">판매자 닉네임</th>
                                        <td class="col-8 table-light" th:text="${deal.sellerUsersNickname}">
                                            닉네임
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="col-4 text-center table-info">거래 시작시간</th>
                                        <td class="col-8 table-light" th:text="${deal.dealCreateDate}">2023-01-03 15:47:01
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="d-flex justify-content-center row">
                                <a class="btn btn-lg btn-primary col-sm-6 buy-button" th:href="@{/deal/buy/{id}(id=${deal.id})}" href="./deal_buy.html">
                                    거래 확인
                                </a>
                            </div>
                        </td>
                    </tr>
                </th:block>
                <!--/*-->
                <tr>
                    <td>렌탈</td>
                    <td>직거래</td>
                    <td>PS5/PS4</td>
                    <td>sit amet</td>
                    <td class="d-none d-lg-table-cell">sit amet consectetur amet</td>
                    <td>&#8361;6900원</td>
                    <td>01-03</td>
                </tr>
                <!--*/-->
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="finished" role="tabpanel">
            <table class="table table-hover align-middle text-center">
                <thead>
                <tr>
                    <th class="col-lg-1 col" scope="col">구매유형</th>
                    <th class="col-lg-1 col" scope="col">거래방법</th>
                    <th class="col-lg-1 col" scope="col">카테고리</th>
                    <th class="col-lg-2 col" scope="col">타이틀명</th>
                    <th class="col-lg-0 col d-none d-lg-table-cell" scope="col">판매자문구</th>
                    <th class="col-lg-3 col" scope="col">거래금액</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="deal : ${closedDeal}">
                    <tr class="simple-info">
                        <td th:text="${deal.rentalFlag == 1 ? '렌탈' : '중고'}">렌탈</td>
                        <td th:text="${deal.directFlag == 1 ? '직거래' : '택배'}">택배</td>
                        <td th:text="${deal.categoryName}">XSX</td>
                        <td th:text="${deal.title}">XSX 타이틀</td>
                        <td class="d-none d-lg-table-cell">
                            <!--/* 설명이 15자 이상인 경우 15자까지만 나타내고 뒤에 ... 을 붙임 */-->
                            <span th:if="${#strings.length(deal.comment)} > 15"
                                  th:text="${#strings.substring(deal.comment, 0, 15)} + '...'">빠르게 거래합니다~</span>
                            <span th:if="${#strings.length(deal.comment)} <= 15"
                                  th:text="${deal.comment}"></span>
                        </td>
                        <td>&#8361;<span th:text="${#numbers.formatInteger(deal.totalPrice, 1, 'COMMA')}">7,400</span>원</td>
                    </tr>
                    <tr class="table-active detail-info d-none">
                        <td colspan="6">
                            <div class="d-flex justify-content-center">
                                <table class="table">
                                    <tr>
                                        <th class="col-4 text-center table-info">타이틀명</th>
                                        <td class="col-8 table-light" th:text="${deal.title}">XSX 타이틀</td>
                                    </tr>
                                    <tr>
                                        <th class="col-4 text-center table-info">구매유형</th>
                                        <td class="col-8 table-light" th:text="${deal.rentalFlag == 1 ? '렌탈' : '중고'}">렌탈</td>
                                    </tr>
                                    <tr>
                                        <th class="col-4 text-center table-info">거래방법</th>
                                        <td class="col-8 table-light" th:text="${deal.directFlag == 1 ? '직거래' : '택배'}">
                                            택배
                                        </td>
                                    </tr>
                                    <!--/* 직거래 전용 항목 */-->
                                    <tr th:if="${deal.directFlag == 1}">
                                        <th class="col-4 text-center table-info">장소</th>
                                        <td class="col-8 table-light" th:text="${deal.sellerUsersHomeAddress}">서울광역시
                                            강남구
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="col-4 text-center table-info">총 거래금액</th>
                                        <td class="col-8 table-light">
                                            &#8361;<span
                                                th:text="${#numbers.formatInteger(deal.totalPrice, 1, 'COMMA')}">7,400</span>원
                                            <span th:if="${deal.deposit}">
                                                (보증금 &#8361;<span th:text="${#numbers.formatInteger(deal.deposit, 1, 'COMMA')}">1,000</span>원 포함)
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>

</html>