<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/favicon.ico}" rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico"/>
    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet">
    <script defer th:src="@{/js/register_sell.js}" src="../static/js/register_sell.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>GameRentalMarket</title>
</head>

<body>
<!-- 네비게이션 바 -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/main}" href="./main.html">
            <img th:src="@{/img/logo_nav.png}" src="../static/img/logo_nav.png" width="92" height="38" alt="로고이미지">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">PS5/PS4</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">XSX</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Switch</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">Others</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">PC</a>
                        <a class="dropdown-item" href="#">Mobile</a>
                        <a class="dropdown-item" href="#">VR</a>
                    </div>
                </li>
            </ul>
            <div class="d-flex">
                <a class="btn btn-secondary my-2 my-sm-0" th:href="@{/login}" href="./login.html">로그인</a>
            </div>
        </div>
    </div>
</nav>

<div class="container p-5" style="max-width: 900px">
    <form action="./register_sell.html" th:action method="post" th:object="${registerSellForm}">
        <div>
            <h4 class="text-primary">판매정보 확인</h4>
            <hr/>
        </div>
        <div class="my-4">
            <div class="text-dark fw-bold my-2">물품정보</div>
            <table class="table align-middle">
                <tr>
                    <th class="col-4 text-center table-info">타이틀명</th>
                    <td class="col-8" th:text="${productInfo.title}">Lorem ipsum</td>
                </tr>
                <tr>
                    <th class="text-center table-info">판매유형</th>
                    <td>
                        <fieldset class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="rentalFlag"
                                               th:field="*{rentalFlag}" th:errorclass="is-invalid" id="selectRental"
                                               value="1">
                                        <label class="form-check-label" for="selectRental">
                                            렌탈(빌려주기)
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-8 col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="rentalFlag"
                                               th:field="*{rentalFlag}" th:errorclass="is-invalid" id="selectUsed"
                                               value="0">
                                        <label class="form-check-label" for="selectUsed">
                                            중고(판매하기)
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <span class="text-danger" th:style="${'display: inline'}" style="display: none;"
                              th:errors="*{rentalFlag}"></span>
                    </td>
                </tr>
                <tr>
                    <th class="text-center table-info">거래방법</th>
                    <td>
                        <fieldset class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="directFlag"
                                               th:field="*{directFlag}" th:errorclass="is-invalid" id="selectDirect"
                                               value="1">
                                        <label class="form-check-label" for="selectDirect">
                                            직거래
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-8 col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="directFlag"
                                               th:field="*{directFlag}" th:errorclass="is-invalid" id="selectPackage"
                                               value="0">
                                        <label class="form-check-label" for="selectPackage">
                                            택배
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <span class="text-danger" th:style="${'display: inline'}" style="display: none;"
                              th:errors="*{directFlag}"></span>
                    </td>
                </tr>
                <!-- 렌탈: 3주 렌탈가, 중고: 중고 판매가 -->
                <tr>
                    <th class="text-center table-info" id="priceHeader">3주 렌탈가</th>
                    <td>
                        <div class="form-group">
                            <input type="number" class="form-control form-control-sm" placeholder="택배비 등을 포함한 가격 입력"
                                   th:field="*{price}" th:errorclass="is-invalid" id="price">
                        </div>
                        <span class="text-danger" th:style="${'display: inline'}" style="display: none;"
                              th:errors="*{price}"></span>
                    </td>
                </tr>
                <!-- 렌탈의 경우에만 해당 -->
                <tr id="extensionPriceRow">
                    <th class="text-center table-info">1주 초과당</th>
                    <td>
                        <div class="row d-flex align-items-center">
                            <div class="form-group col-6">
                                <input type="number" class="form-control form-control-sm" placeholder="1주 초과시마다의 추가금 입력"
                                       th:field="*{extensionPrice}" id="extensionPrice">
                            </div>
                            <div class="form-check col-6">
                                <input class="form-check-input" type="checkbox" id="extensionDisable">
                                <label class="form-check-label" for="extensionDisable">
                                    연장 허용안함
                                </label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr id="depositRow">
                    <th class="text-center table-info">보증금</th>
                    <td>
                        <div class="row d-flex align-items-center">
                            <div class="form-group col-6">
                                <input type="number" class="form-control form-control-sm" placeholder="추가로 요구할 보증금 입력"
                                       th:field="*{deposit}" id="deposit">
                            </div>
                            <div class="form-check col-6">
                                <input class="form-check-input" type="checkbox" id="depositDisable">
                                <label class="form-check-label" for="depositDisable">
                                    보증금 없음
                                </label>
                            </div>
                        </div>
                    </td>
                </tr>
                <!-- 둘 모두 해당 -->
                <tr>
                    <th class="text-center table-info">판매문구</th>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" maxlength="50"
                                   placeholder="최대 50자까지 입력 가능합니다."
                                   th:field="*{comment}" th:errorclass="is-invalid" id="comment">
                        </div>
                        <span class="text-danger" th:style="${'display: inline'}" style="display: none;"
                              th:errors="*{comment}"></span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="my-4">
            <div class="text-dark fw-bold my-2">내 정보</div>
            <table class="table align-middle">
                <tr>
                    <th class="col-4 text-center table-info">이름</th>
                    <td class="col-8" th:text="${sellerInfo.name}">Lorem</td>
                </tr>
                <tr>
                    <th class="text-center table-info">연락처</th>
                    <td th:text="${sellerInfo.tel}">010-1234-5678</td>
                </tr>
                <tr>
                    <th class="text-center table-info">이메일</th>
                    <td th:text="${sellerInfo.email}">xxx@gmail.com</td>
                </tr>
                <tr>
                    <th class="text-center table-info">주소</th>
                    <td th:text="${sellerInfo.homeAddress}">Lorem ipsum</td>
                </tr>
            </table>
        </div>
        <div class="my-5 row">
            <button class="btn btn-primary btn-lg col mx-5" type="submit">판매등록</button>
            <button class="btn btn-secondary btn-lg col mx-5" type="button" onclick="history.back()">돌아가기</button>
        </div>
    </form>
</div>

</body>

</html>